h1{
    font-size:50px;
}
.high-light{
    color: orange;
}
.click{
    border: 1px solid orange;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;
    background-color: yellowgreen;
}
body{
   
    font-family: 'Poppins', sans-serif;
}
img{
    width:100%;
}
.alia{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 3%;

}
.background-highlight{
    background-image:url('header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section{
    height:500px;
    width: 700px;
}
.putu{
    text-decoration: none;
    border: 1px solid yellow;
    border-radius: 3px;
    background-color:indianred;
    padding: 3px;
}
.biography{
    background-image: url('biography-bg.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}
.dalia{
    width:30%;
    float:left;
   
}